
body {
  background: url('../images/binding_dark.png') repeat;
  background-position: middle;
  font-family: 'Lato', sans-serif;
}
h1 {
  color: #990000;
  font-size: 3.5em;
  text-align: center;
  padding: 1%;
}
h2 {
  color: rgba(0, 122, 8, 1);
  font-size: 2em;
  background: url('../images/binding_dark.png')  no-repeat;
  background-position: left;
  background-size: 25px 25px;
  text-align: center;
  padding: 1%;
}
h3 {
    color: rgba(0, 122, 8, 1);
    padding-left: 2%;
}
a:link    {color: #000;}
a:visited {color: #990000; background-color: #333;}
a:hover   {color: #666;}
a:active  {color: #000;}
p {
    margin: 5%;
}
#saying p {
    text-align: center;
}
nav {
    display: inline;
    margin: 0 auto;
}
ul, {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
ol {
    list-style-type:circle;

}

li {
    float: left;
    list-style: none;
    padding: .2em 1em;

}

li a {
    float: left;
    padding: 1%;
    background: none;
    color: #000;
}


div.img {
    margin-bottom: 3%;
    padding: 1%;
    background: none;
    height: 70%;
    width: 90%;
    text-align: center;
    max-width: 100%;

}

div.img img {
    display: inline;
    margin: 1%;
    border: 1px solid #ffffff;
    max-width: 100%;
}

div.img a:hover img {
    border:1px solid #0000ff;
}

div.desc {
    text-align: center;
    font-weight: normal;
    width: 120px;
    margin: 5px;
}
#nav {
    width: 50%;
    height: auto;
    margin: 0 auto;
}
#wrapper {
    width: 95%;
    height: auto;
    margin: 0 auto;
    background: url('../images/chess-dark.gif') no-repeat,
                #f0fff0;

    background-position: center;
    border: 1px solid rgba(0, 122, 8, 1);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}
#about {
    width: 55%;
    float: left;
    clear: both;
    height: auto;
    margin: auto auto auto 2%;
    padding: 2%;
    background-color: hsla(37, 100%, 73%, 1);
    border-radius: 25px;
    box-shadow: 10px 10px 5px #888888;
}
#menu {
    width: 25%;
    float: right;
    height: auto;
    margin: auto 2% auto auto;
    padding: 2%;
    border-radius: 25px;
    background: #fefcea; /* Old browsers */
    background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fefcea 0%,#f1da36 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fefcea 0%,#f1da36 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
    }
#sources {
    width: 100%;
    height: auto;
    clear: both;
    margin: 0 auto;
    text-align: center;
}
a.backLink {
    width: 5%;
    height: auto;
    margin-left: 5%;
    margin-bottom: 5%;
}

blockquote {
 border : 1px solid #ffb90f;
 width: 200px;
 margin: 0 auto;
 padding: 10px;
 background-color: #990000;
 opacity: .8;
 quotes: "\201C" "\201D";
 color: #f0f0f0;
 }
 blockquote:before { content: open-quote; font-weight: bold; }
 blockquote:after { content: close-quote; font-weight: bold; }
